
@import url(https://allfont.net/allfont.css?fonts=dosis-semibold);
@import url(https://allfont.net/allfont.css?fonts=roboto-regular);


.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagination_container{
  width: 1000px;
  display: flex;
  justify-content: flex-end;
}

.table {
  border: 1px solid #ddd;

  .tr {
    height: 56px;

    :last-child {
      .td {
        border-bottom: 0;
      }
    }
  }

  .th,
  .td {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    padding-left: 1.5%;
    :last-child {
      border-right: 0;
    }
  }
  .th {
    background-color: #D2E1FC;
    color: #0000008A;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
  }

  .td {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    background-color: #fff;
    color:#000000DE;
    font-family: 'Dosis SemiBold' !important;
  }

  &.sticky {
  overflow-x: scroll;
 
    .header {
      position: sticky;
      z-index: 1;
      width: fit-content;
    }

    .header {
      top: 0;
      box-shadow: 0px 3px 3px #ccc;
    }

    .footer {
      bottom: 0;
      box-shadow: 0px -3px 3px #ccc;
    }

    .body {
      position: relative;
      z-index: 0;
    }

    [data-sticky-td] {
      position: sticky !important;
      left: 0px;
      z-index: 1;
    }

    [data-sticky-last-left-td] {
      box-shadow: 3px 0px 6px #00000014;
      clip-path: inset(0px -15px 0px 0px);
      padding: 0 20px;
    }

    [data-sticky-first-right-td] {
      box-shadow: -2px 0px 3px #ccc;
    }
  }
}
.resizer {
  touch-action: none;
}
.btnstyle {
  padding: 0 !important;
  min-width: 31px !important;
}

.profilePopupIteme {
  font-size: 14px !important;
  font-family: 'Dosis SemiBold' !important;
  color: #0000008A !important;
  text-align: left !important;
}
.profilePopupIteme:hover{
  color: black !important;
}
.checkboxText{
  font-family: 'Roboto Regular' !important;
}
.checkBoxContainer{
  display: flex;
	flex-direction:column;
	align-items: center;
}
.checkBoxHeader{
  width: 224px;
	height: "60%";
	background-color: #ECF4F9;
	color: #000000;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.checkBoxHeaderTextContainer{
  width: "90%" !important; 
  height: "60%" !important;
  margin-left: 10px !important;
}
.checkBoxHeaderTextheading{
  font-size: 13px; font-weight: bold;
}
.checkBoxHeaderTextcontent{
  font-size: 13px;
}
